name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - python: "3.7.7"
            tensorflow: "2.1.0"
            numpy: "1.19.2"
          - python: "3.9.13"
            tensorflow: "2.9.1"
            numpy: "1.23.1"
    name: build (Python ${{ matrix.python }}, TF ${{ matrix.tensorflow }})

    steps:
    - uses: actions/checkout@v3
    - name: Add conda to system path
      run: |
        echo $CONDA/bin >> $GITHUB_PATH
    - name: Set up Python ${{ matrix.python }}
      run: |
        conda install python=${{ matrix.python }} -c conda-forge
    - name: Set up tensorflow ${{ matrix.tensorflow }}
      run: |
        conda install tensorflow=${{ matrix.tensorflow }} -c conda-forge
    - name: Install dependencies
      run: |
        conda install rdkit==2020.09.1.0 -c conda-forge
        python -m pip install --upgrade pip
        python -m pip install numpy==${{ matrix.numpy }}
        python -m pip install .
        python -m pip install black flake8 pytest
    - name: Lint with black
      run: |
        black . --check --diff
    - name: Lint with flake8
      run: |
        flake8
    - name: Run unit tests
      run: |
        pytest --ignore=./molecule_generation/test/integration/
    - name: Run integration test
      run: |
        pytest ./molecule_generation/test/integration/
